/* CSS file */
Application {
	background-color: #eeeeee;	
}
Label {
	/* font-family: "Courier New"; */
	font-size: 24;
	font-weight: bold;
	text-decoration: underline;
	color: #000000;
	font-style: italic;
	
}
Panel
{
	borderColor: #DB5454;
	backgroundColor: #ECD7D7;
	color: #641D0F;
	fontSize: 12;
}
Text {
	/* font-family: "Arial"; */	
}
.redFont {
	color: #ff0000;
}
global {
	font-family: "Helvetica", "Arial", "_sans";	
}
CheckBox
{
	fontSize: 14;
}